<table class="table table-hover">
  <thead>
  <tr>
      <td>Bezeichnung</td>
      <td>Beschreibung</td>
      <td colspan="2">Aktionen</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let item of items">
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td><a [routerLink]="['/edit', item._id]" class="btn btn-primary">bearbeiten</a></td>
          <td><button (click)="deleteItem(item._id)"  class="btn btn-danger">löschen</button></td>
      </tr>
  </tbody>
</table>
